<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/calculator.js"></script>
    <style>
    </style>

</head>
<body ng-app="blindsCalculator">
    <div id="form" ng-controller="formController as vm">
        <form name="form" ng-submit="vm.submitForm(form.$valid)" novalidate>
            <select ng-model="vm.selectedTyp" ng-options="x.nazwa for x in vm.typy">
            </select>
            </br>
            Szerokość rolety (w mm): <input ng-model="vm.szerokosc" type="text" ng-required="true">
            </br>
            Wysokość rolety (w mm):  <input ng-model="vm.wysokosc" type="text" ng-required="true">
            </br>
            <select ng-model="vm.selectedKolor" ng-options="x.nazwa for x in vm.kolorystyka">
            </select>
            <select ng-model="vm.selectedListwaMontazowa" ng-options="x.nazwa for x in vm.listwyMontazowe">
            </select>
            </br>
            <input type="button" ng-click="vm.checkPrice()" value="Sprawdź cene">
            <input type="submit" value="Wyślij zapytanie">
        </form>
    <p>{{vm.cena | currency : ""}} PLN</p>
    <p ng-bind="vm.message"></p>
    </div>

    <script src="js/blindsCalculator.js"></script>
</body>
</html>